.game-options__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-options__container button {
    width: 200px;
    height: 200px;
    border: 1px solid;
}